.dropdown {
  position: relative;
}

.dd-menu {
  position: absolute;
  width: 250px;
  border-radius: 4px;
  top: calc(100% + 5px);
  transform: translate(-70%, 0);
  z-index: 5;
  padding: 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
}