#tooltips-container {
  padding: 15px;
  background-color: red;
  position: relative;
  cursor: pointer;
  .tooltips-visible {
    animation-name: tooltips-visible;
  }
  .tooltips-invisible {
    animation-name: tooltips-in-visible;
  }
  .tooltips-content {
    position: absolute;
    font-size: 16px;
    white-space: nowrap;
    background-color: #C4C4C4
    ;
    margin-bottom: 15px;
    bottom: 100%;
    left: 50%;
    padding: 6px 15px;
    border-radius: 6px;
    transform: translate(-50%, 0);
    opacity: 1;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    z-index: 5;
    &::after {
      content: " ";
      top: 100%;
      left: 50%;
      position: absolute;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #C4C4C4 transparent transparent transparent;
    }
  }
}

@keyframes tooltips-in-visible {
  from {
    opacity: 1; 
  }
  to {
    opacity: 0;
  }
}

@keyframes tooltips-visible {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}