
.label {
  border-radius: 6px;
  padding: 5px 12px;
  box-sizing: border-box;
  font-size: 14px;
}

.progress {
  background-color: #FCEFDF;
  color: #E9912A;
}

.success {
  background-color: #D9EEDB;
  color: #47C751;
}

.danger {
  background-color: #FDE3E4;
  color: #EF4949;
}