
.dot {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

.primary {
  background-color: #F0B71C;
}

.secondary {
  background-color: #FBEAC0;
}

.tertiary {
  background-color: #A0ADBD;
}

.quaternary {
  background-color: #415C7C;
}